*{
    padding: 0;
    margin:0;
    box-sizing:border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

.wrapper {
    display: flex;
    justify-content:center;
    align-items: center;
    width: 100vw;
    height:100vh;
    background-color:black;
}

.welcome_text{
    width: 400px;
}

.welcome_form input,
.welcome_form button {
    display: block;
    width: 100%;
}

.welcome_form input{
    margin-bottom: 15px;
    background-color: transparent;
    /*border: none;*/
    /*border-bottom: 2px solid white;*/
    color: white;
    font-size:20px;
    text-align:center;
}

.welcome_form button {
    font-size: 22px;
    padding: 20px 0;
    border: none;
    background-color: white;
    border-radius: 100px;
    color: black;
    transition: 0.5s all;
}

.welcome_form button:hover {
    transform: translateY(-6px);
    cursor: pointer;
}

.welcome_form input:focus,
.welcome_form button:focus{
    outline: none;
}

.quiz {
    display: grid;
    grid-template-rows: 60px auto;
    width: 800px;
    height: 500px;
    background-color: white;
}

.quiz_header {
    display: flex;
    justify-content: space-between;
    background-color: white;
    border-top-left-radius: 3px;
    border-bottom-right-radius: 3px;
    box-shadow: 0px 2px 5px 1px rgba(0, 0, 0, 0.3);
    z-index: 1;
}

.quiz_body {
    padding: 30px;
    background-color: rgb(190, 189, 189);
}

.quiz_user{
    display:flex;
    align-items: center;
    padding-left: 30px;
}

.quiz_timer{
    display: flex;
    align-items: center;
    background-color: blueviolet;
    color: black;
    padding: 0 30px;
}

.option_group {
    list-style-type: none;
    margin: 30px 0;
}

.option {
    background-color: white;
    width: 300px;
    padding: 15px 20px;
    margin-bottom: 15px;
    border-radius: 100px;
    border: 2px solid transparent;
}

.option:hover {
    cursor: pointer;
    border: 2px solid blueviolet;
    color:black;
}

.btn-next {
    background-color: blueviolet;
    color: black;
    padding: 15px 15px;
    border: none;
    border-radius: 27px;
    transition: 0.4s all;
}    

.btn-next:hover {
    cursor:pointer;
    background-color: white;
    color:blueviolet;
    box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.3);
}

.btn-next:focus{
    outline: none;
}

.active{
    background-color: blueviolet;
    color: white;
}

.user_name,
.user_points,
.user_time {
    color: white;
    text-align: center;
    margin-top: 15px;
}



.dropdown {
  position: relative;
  display: inline-block;
  background-color: black;
}





      .sect{
          background-color: black;
          color: white;
          padding: 16px;
          font-size: 16px;
          border: none;
          width: 350px;
          position: absolute;
          top: 100px;
          left: 1000px;
          display: grid;
          grid-template-rows: 60px auto;
      }

      

      .artic{
          padding: 25px;
          
      }

      .forul{
          padding: 25px;
      }

      .forli{
          padding: 15px;
      }

      .sect2{
        background-color: black;
        color: white;
        padding: 16px;
        font-size: 16px;
        border: none;
        width: 350px;
        position: absolute;
        top: 100px;
        left: 10px;
        display: grid;
        grid-template-rows: 60px auto;
    }

    .sect2 h1{
        background-color: blueviolet;
    }

    .artic2{
        padding: 25px;
        
    }

    .forul2{
        padding: 25px;
    }

    .forli2{
        padding: 15px;
    }

    
    .option_group {
      list-style-type: none;
      margin: 30px 0;
  }
  
  .option .inty {
      padding: 15px 20px;
      margin-bottom: 15px;
  }
  
  .btn-next-ho{
    background-color: blueviolet;
    color: black;
    padding: 15px 15px;
    border: none;
    border-radius: 27px;
    position: absolute;
    top:400px;
    cursor: pointer;
  }



  .boxa{
    display: grid;
    width: 800px;
    height: 500px;
    background-color: white;
    box-shadow: 0px 2px 5px 1px rgba(0, 0, 0, 0.3); 
  }

  .subboxa{
    display: grid;
    width: 800px;
    height: 85px;
    background-color: rosybrown;
    box-shadow: 0px 2px 5px 1px rgba(0, 0, 0, 0.3); 
  }

  .subabox2 ul{
    list-style-type: none;
    padding: 20px;
  }

  .wrapper2 {
    background-color: aqua;
  }

  #rates{
      padding:30px;
  }
